{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

            <header class="post-full-header">
                <h1 class="post-full-title">{{title}}</h1>
                {{#if custom_excerpt}}
                    <p class="post-full-custom-excerpt">{{custom_excerpt}}</p>
                {{/if}}
                <div class="post-full-byline">
                    <section class="post-full-byline-content">
                        <ul class="author-list">
                            {{#foreach authors}}
                            <li class="author-list-item">
                                {{#if profile_image}}
                                <a href="{{url}}" class="author-avatar">
                                    <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
                                </a>
                                {{else}}
                                <a href="{{url}}" class="author-avatar author-profile-image">{{> "icons/avatar"}}</a>
                                {{/if}}
                            </li>
                            {{/foreach}}
                        </ul>
                        <section class="post-full-byline-meta">
                            <h4 class="author-name">{{authors}}</h4>
                            <div class="byline-meta-content">
                                <time class="byline-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                                <span class="byline-reading-time"><span class="bull">&bull;</span> {{reading_time}}</span>
                            </div>
                        </section>
                    </section>
                </div>
            </header>

            {{#if feature_image}}
            <figure class="post-full-image">
                <img
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                    sizes="(max-width: 800px) 400px,
                            (max-width: 1170px) 700px,
                            1400px"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{title}}"
                />
            </figure>
            {{/if}}

            <section class="post-full-content">
                {{!-- Include the NPC grid CSS and JS --}}
                <link rel="stylesheet" href="{{asset "css/npc-grid.css"}}">
                <link rel="stylesheet" href="{{asset "css/npc-roller.css"}}">
                
                {{!-- NPC Roller UI --}}
                <div class="npc-roller-container">
                    <button class="npc-roller-button">
                        <span class="d20-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path d="M12 2L2 6.5V17.5L12 22L22 17.5V6.5L12 2ZM12 4.2L19.2 7.5L12 10.8L4.8 7.5L12 4.2ZM4 16.5V8.7L11 11.9V19.7L4 16.5ZM13 19.7V11.9L20 8.7V16.5L13 19.7Z"/>
                            </svg>
                        </span>
                        Roll Random NPC
                    </button>
                </div>
                
                <div class="npc-table-container">
                    <div class="npc-post-content">
                        {{content}}
                    </div>
                </div>
                
                {{!-- Include the NPC grid and roller JS --}}
                <script src="{{asset "js/npc-grid.js"}}"></script>
                <script src="{{asset "js/npc-roller.js"}}"></script>
            </section>

        </article>

    </div>
</main>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
    $(function() {
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
    });
</script>
{{/contentFor}}

