{{!< default}}
{{#contentFor "title"}}{{meta_title}}{{/contentFor}}
{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}


{{#post}}
{{!-- Everything inside the #post block pulls data from the page --}}

<main id="site-main" class="site-main">
<article class="article {{post_class}}">

    {{#match @page.show_title_and_feature_image}}
        <header class="article-header gh-canvas">

            <h1 class="article-title">{{title}}</h1>

            {{#if feature_image}}
                <figure class="article-image">
                    {{!-- This is a responsive image, it loads different sizes depending on device
                    https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                    <img
                        srcset="{{img_url feature_image size="s"}} 300w,
                                {{img_url feature_image size="m"}} 600w,
                                {{img_url feature_image size="l"}} 1000w,
                                {{img_url feature_image size="xl"}} 2000w"
                        sizes="(min-width: 1400px) 1400px, 92vw"
                        src="{{img_url feature_image size="xl"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    />
                    {{#if feature_image_caption}}
                        <figcaption>{{feature_image_caption}}</figcaption>
                    {{/if}}
                </figure>
            {{/if}}

        </header>
    {{/match}}

    {{!-- Include the CSS and JS for NPC grid if this is a Pyora NPCs page --}}
    {{#has tag="pyora-npcs"}}
        <link rel="stylesheet" href="{{asset "css/npc-grid.css"}}">
        <script src="{{asset "js/npc-grid.js"}}"></script>
    {{/has}}

    <section class="gh-content gh-canvas">
        {{#has tag="pyora-npcs"}}
            {{!-- Post content is rendered above the roller and grid for NPC pages --}}
            <div class="npc-post-content">
                {{content}}
            </div>
            
            {{!-- Include the NPC roller above the grid --}}
            {{> "npc-roller"}}
            
            {{!-- The NPC grid container comes after the roller --}}
            <div class="npc-grid-container">
                {{!-- The NPC grid will be populated here by JavaScript --}}
            </div>
            
            {{!-- Hidden div that contains the table for JavaScript to process --}}
            <div class="npc-table-container" style="display: none;">
                {{content}}
            </div>
        {{else}}
            {{content}}
        {{/has}}
    </section>

    {{#has tag="pyora-npcs"}}
        {{#if comments}}
            <section class="article-comments gh-canvas">
                {{comments}}
            </section>
        {{/if}}

        {{!-- A signup call to action is displayed here, unless viewed as a logged-in member --}}
        {{#if @site.members_enabled}}
        {{#unless @member}}
        {{#unless @site.comments_enabled}}
        {{#if access}}
            <section class="footer-cta outer">
                <div class="inner">
                    {{#if @custom.email_signup_text}}<h2 class="footer-cta-title">{{@custom.email_signup_text}}</h2>{{/if}}
                    <a class="footer-cta-button" href="#/portal" data-portal>
                        <div class="footer-cta-input">Enter your email</div>
                        <span>Subscribe</span>
                    </a>
                </div>
            </section>
        {{/if}}
        {{/unless}}
        {{/unless}}
        {{/if}}

        {{!-- Read more links, just above the footer --}}
        {{#if @custom.show_recent_posts_footer}}
            {{#get "posts" filter="tag:pyora" limit="3" as |more_posts|}}
                {{#if more_posts}}
                    <aside class="read-more-wrap outer">
                        <div class="read-more inner">
                            {{#foreach more_posts}}
                                {{> "post-card"}}
                            {{/foreach}}
                        </div>
                    </aside>
                {{/if}}
            {{/get}}
        {{/if}}
    {{/has}}

</article>
</main>

{{/post}}

